*.o
convertSamples
estimateDE
estimateExpression
estimateHyperPar
estimateVBExpression
extractSamples
getFoldChange
getGeneExpression
getPPLR
getVariance
getWithinGeneExpression
gtftool
parseAlignment
transposeLargeFile
